* {
  box-sizing: border-box;
}

.top-page-header {
  padding: 2vh 15vw;
  display: flex;
}

.top-page-second-header {
  width: 100%;
  padding: 2vh 15vw 3.6vh;
  display: flex;
}

.header{
  white-space: nowrap;
}

.app-name{
  color: black;
  font-weight: bold;
  font-size: 200%;
  padding-left: 80px;
  padding-top: 0.2vh;
}

.icon {
  width: 30px;
  padding-top: 10px;
}

.lists {
  list-style: none;
  font-weight: bold;
  width: 100vw;
  margin-top: 25px;
  padding-right: 80px;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}


.user-nickname {
  margin-right: 3vw;
}

.data-save{
  margin-right: 3vw;
}

.login {
  margin-right: 3vw;
}

a {
  text-decoration: none;
  color: black;
}

/* タブレット */

@media (max-width: 1000px) {
  .app-name{
    font-size: 25px;
    padding-left: 50px;
  }

  .icon {
    width: 20px;
  }

  .lists {
    font-size: 13px;
    margin-top: 20px;
    padding-right: 50px;
  }
  
  .user-nickname {
    margin-right: 3vw;
  }
  
  .data-save{
    margin-right: 3vw;
  }
  
  .login {
    margin-right: 3vw;

  }
}

/* タブレット */



/* スマートフォン */


@media (max-width: 500px) {

  .top-page-header {
    padding: 1vh;
  }
 
  .app-name{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 0.2vh;
  }

  .icon {
    width: 15px;
    padding-top: 10px;
  }

  .lists {
    padding-right: 20px;
    margin-top: 15px;
  }
}

/* スマートフォン */