* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  padding: 2vh 15vw;
  display: flex;
}

.app-name{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 35px;
  padding-left: 50px;
  margin-top: 5px;
}

.icon {
  width: 2vw;
  margin-left: 10px;
  margin-top: 10.5px;
}

.lists {
  display: flex;
  list-style: none;
  font-weight: bold;
  margin-top: 25px;
}


/* .user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: black;
  font-weight: bold;
} */


/* .logout {
  text-decoration: none;
  color: black;
} */

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: black;
  padding-left:350px;
}

.sign-up {
  text-decoration: none;
  color: black;
}