/* 情報 */

.calc-contents {
  background-color: #e8e8e8;
  font-size: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.calc-header {
  padding: 5vh 0;
  text-align: center;
}

.calc-main {
  background-color: #FFF;
  width: 61.5vw;
  min-width: 450px;
  padding: 10vh;
  margin: 0 0 10vh 0;
}

.calc-title-one {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 15px 0;
}

.calc-title-two {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 30px 0;

  
}

.calc-description{
  font-size: 17px;
  text-align: center;
}

.description{
  font-size: 15px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.total{
  padding: 10px 10px 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 5px solid gray;
}

.total-payment {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.total-payment-input {
  width: 130px;
  height: 35px;
}

.total-people {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.total-people-input {
  width: 130px;
  height: 35px;
}


.flash {
  color: gray;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}


/* 情報 */

/* 共通 */
.indispensable {
  color: #ea352d;
  font-size: 11px;
  font-weight: bold;
}

.indispensable-description {
  color: #ea352d;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
/* /共通 */


/* 計算 */

.group {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.group-text {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.group-text-one {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.group-input {
  width: 105px;
  height: 35px;
  text-align: right;
  padding-right: 10px;
}

.group-input-one {
  width: 105px;
  height: 35px;
  text-align: right;
  padding-right: 10px;
  background-color: whitesmoke;
}

.group-input-name {
  width: 130px;
  height: 35px;
  text-align: right;
  padding-right: 10px;
}

.group-invisible {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.indivisible-number{
  width: 60px;
  padding: 10px 0 10px;
}

/* /計算 */

.black-btn-index {
  display: flex;
  justify-content: center;
}

.black-btn {
  width: 30%;
  background: black;
  border: 1px solid black;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 40px;
}

.black-btn:hover {
  background: dimgray;
}


