.session-main {
  width: 100%;
  min-width: 800px;
  height: 85vh;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 10vh;
}

.form-wrap {
  width: 70%;
  background-color: white;
}

.error_message{
  padding-left: 38%;
  list-style: none;
  color: red;
}